body {
    font-family: Arial, sans-serif;
    background-image: url("books.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
}


h1 {
    text-align: center;
}

.form-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    max-width: 500px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


label {
    display: block;
    margin-top: 10px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background: #333;
    color: white;
}

.study {
    background: #d1e7dd;
}

.break {
    background: #f8d7da;
}
